.m_top{
    width:100%;
}
.top_center{
    width:1100px;height:73px;
    margin:0px auto;
}
.search{
    width:300px;height:32px;
    border-radius:16px;
    background-color: #fff;
    margin-top:19px;
    margin-left:300px;
    line-height: 30px;
    border:1px solid #999;
}
.search>img{
    border-radius:50%;
    margin-left:5px;
    margin-top:-5px;
}
.search>input{
    border:none;
    width:120px;height:16px;
    outline: none;
}
.font_small{
    font-size:12px;
}
.top_center>a>img{
    margin-top:6px;
    margin-left:20px;
}
.top_center>span{
    font-size: 14px;
    margin:25px 0 0 20px;
}
.top_center>span>a{
    color:#242424;
}
#cor{
    display: block;
    width:0px;
    border:5px solid transparent;
    border-top:7px solid #242424;
    margin-left:45px;
    margin-top: -13px;
}
